.div-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.div-bar-code-reader {
    display: flex;
    height: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div-container {
    width: 40rem;
}

.div-body {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
