.div-data-right {
    flex: 1.75;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
    overflow: hidden;
}

.div-data-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 2.5rem;
}

.div-data-right-property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    align-items: center;
    overflow: hidden;
}

input.ng-invalid {
    border: 1px lightcoral solid !important;
}
