.div-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.div-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 1;
}

.div-header-label {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex: 0.25;
}

.div-header-input {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex: 0.75;
}

.div-footer {
    display: flex;
    justify-content: center;
}
