.dot {
    height: 10rem;
    width: 10rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.div-data-right {
    flex: 0.75;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
