<nb-card class="div-container">
    <nb-card-header>
        <div class="div-filter">
            <div [formGroup]="filterFormGroup" style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                <div style="display: flex; flex-direction: row; flex: 1">
                    <nb-select
                        [placeholder]="'office_search_file.filter_form_choose_folder' | translate"
                        formControlName="selectedFolder"
                        filled
                        status="primary"
                        style="width: 100%;"
                    >
                        <nb-option [value]="null">{{ 'app.select_none' | translate }}</nb-option>
                        <nb-option *ngFor="let folder of folders" [value]="folder">{{ folder.folder_name }} </nb-option>
                    </nb-select>
                    <input
                        nbInput
                        style="flex: 1; max-width: none; margin-left: 1rem;"
                        formControlName="searchFileFormControl"
                        [placeholder]="'office_search_file.filter_form_input' | translate"
                    />
                </div>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body *ngIf="allColumns.length !== 0" class="div-files nb-card-body-has-fixed-header">
        <table class="nb-tree-grid-table-fixed-header" [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container *ngFor="let column of leftFakeColumns; let index = index" [nbTreeGridColumnDef]="column">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
                    <button nbButton status="primary">{{ createLeftRealColumns(column) | translate }}</button>
                </th>
                <td style="cursor: pointer;" (click)="openDetail(row.data)" nbTreeGridCell *nbTreeGridCellDef="let row">
                    {{ row.data[column] }}
                </td>
            </ng-container>

            <ng-container *ngFor="let column of middleFakeColumns; let index = index" [nbTreeGridColumnDef]="column">
                <th
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection(column)"
                    *nbTreeGridHeaderCellDef
                    [ngStyle]="{ display: !displayColumn(column) ? 'none' : 'table-cell' }"
                >
                    <button nbButton status="primary">{{ createMiddleRealColumns(column) | translate }}</button>
                </th>
                <td
                    [id]="column"
                    style="cursor: pointer;"
                    (click)="openDetail(row.data)"
                    nbTreeGridCell
                    *nbTreeGridCellDef="let row"
                    [ngStyle]="{ display: !displayColumn(column) ? 'none' : 'table-cell' }"
                    [style.max-width]="row.data[column] ? setWidth(row.data[column]) + 'px' : 'none'"
                    [style.white-space]="row.data[column] && row.data[column].property_data_type === 'text' ? 'nowrap' : 'pre-wrap'"
                >
                    <div *ngIf="column.includes('column_*_')">
                        <div *ngIf="checkProperty(row.data[column])" class="shorten-text">
                            <span
                                *ngIf="!row.data[column].hasOwnProperty('dropdown_id')"
                                [nbTooltip]="row.data[column] ? row.data[column].property_value : ''"
                                nbTooltipStatus="success"
                            >
                                {{ row.data[column].property_value || '-' }}
                            </span>
                            <span *ngIf="row.data[column].hasOwnProperty('dropdown_id')">
                                <mat-chip-list #chipList aria-label="Item selection">
                                    <mat-chip *ngFor="let item of dropdownDetail(row.data[column])">
                                        {{ item }}
                                    </mat-chip>
                                </mat-chip-list>
                            </span>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of rightFakeColumns; let index = index" [nbTreeGridColumnDef]="column">
                <th
                    [ngStyle]="{ display: !displayColumn(column) ? 'none' : 'table-cell' }"
                    nbTreeGridHeaderCell
                    [nbSortHeader]="getSortDirection(column)"
                    *nbTreeGridHeaderCellDef
                >
                    <button nbButton status="primary">
                        {{ createRightRealColumns(column) | translate }}
                    </button>
                </th>
                <td
                    [ngStyle]="{ display: !displayColumn(column) ? 'none' : 'table-cell' }"
                    style="cursor: pointer; white-space: nowrap;"
                    (click)="openDetail(row.data)"
                    nbTreeGridCell
                    *nbTreeGridCellDef="let row"
                >
                    <span *ngIf="check(column)" class="data">
                        {{ row.data[column] || '-' }}
                    </span>
                    <span *ngIf="check2(column)" class="data">
                        {{ row.data[column] ? sharedService.dateTimeInString(row.data[column]) : '-' }}
                    </span>
                    <div *ngIf="column === 'file_file_name'">
                        <span *ngFor="let item of row.data[column]" style="display: block;" class="data">
                            {{ item.file_title }}
                        </span>
                    </div>
                    <div *ngIf="column === 'file_is_deleted'">
                        <nb-toggle disabled [checked]="row.data[column]"></nb-toggle>
                    </div>
                </td>
            </ng-container>
        </table>
    </nb-card-body>
</nb-card>
