<nb-card class="nb-card-dialog">
    <nb-card-header
        style="
            justify-content: center;
            align-items: center;
            display: flex;
        "
        class="detail-view"
    >
        <h5>
            {{ (historyStatus === 'hide' ? 'office_manage_file.file_detail.title' : 'office_manage_file.file_history.title') | translate }}
        </h5>
        <!-- <nb-icon
            [@openClose1]="historyStatus === 'show' ? 'open' : 'closed'"
            style="display: none; flex: 1"
            *ngIf="isViewing"
            style="font-size: 1.5rem; cursor: pointer;"
            icon="arrow-circle-down"
            (click)="showHistory()"
        >
        </nb-icon> -->
        <nb-icon
            [@openClose1]="historyStatus === 'show' ? 'open' : 'closed'"
            *ngIf="isViewing"
            style="cursor: pointer; font-size: 1.75rem;"
            icon="arrow-circle-down"
            (click)="showHistory()"
        >
        </nb-icon>
    </nb-card-header>
    <!-- <div *ngFor="let row of rows">
            <div class="each-row" style="display: flex; flex-direction: row; padding: 1rem">
                <div style="flex: 1; display: flex; justify-content: flex-start; align-items: center;">{{ row }}</div>
                <div style="flex: 1; display: flex; justify-content: flex-start; align-items: center;">{{ file[row] }}</div>
            </div>
        </div> -->
    <nb-card-body *ngIf="isViewing">
        <nb-list [@openClose]="historyStatus === 'show' ? 'open' : 'closed'">
            <nb-list-item *ngFor="let history of file_histories" style="padding: 1rem;">
                <div
                    style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        flex: 1;
                        align-items: center;
                    "
                >
                    <div>
                        <span>{{ history.file_history_created_at ? sharedService.dateTimeInString(history.file_history_created_at) : '-' }}</span>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <span>by</span>
                        <img
                            [src]="sharedService.getAvatar(history.file_history_created_by)"
                            alt=""
                            style="
                                width: 3rem;
                                height: 3rem;
                                border-radius: 1rem;
                                margin: 0 1rem 0 1rem;
                            "
                            onerror="this.onerror=null; this.src='assets/images/default.png'"
                        />
                        <span style="font-weight: bold;">{{ history.file_updated_by_full_name }}</span>
                    </div>
                </div>
            </nb-list-item>
        </nb-list>

        <nb-list [@openClose]="historyStatus === 'show' ? 'closed' : 'open'">
            <nb-list-item *ngFor="let row of rows" style="padding: 1rem;" [ngStyle]="{ display: !displayRow(row) ? 'none' : 'flex' }">
                <div class="div-data-left label">
                    {{ createRealColumns(row) }}
                </div>

                <div style="display: flex; width: 1rem;"></div>

                <div class="div-data-right">
                    <input *ngIf="checkCondition(row)" readonly nbInput fullWidth [value]="file[row]" />
                    <div *ngIf="file[row] && file[row].property_data_type && !file[row].dropdown_id" style="display: flex; flex: 1; ">
                        <input
                            readonly
                            *ngIf="file[row] && file[row].property_data_type === 'text'"
                            nbInput
                            fullWidth
                            [value]="file[row].property_value"
                            autofocus
                        />
                        <textarea
                            readonly
                            *ngIf="file[row].property_data_type === 'textarea'"
                            nbInput
                            fullWidth
                            [value]="file[row].property_value"
                            autofocus
                        ></textarea>
                    </div>

                    <div
                        style="flex: 1; display: flex; justify-content: flex-start; align-items: center;"
                        *ngIf="file[row] && file[row].dropdown_id"
                        [formGroup]="fileFormGroup"
                    >
                        <!-- <input nbInput fullWidth [value]="file[row].property_value" autofocus [formControlName]="row" /> -->
                        <nb-select multiple placeholder="None" [formControlName]="row + '_dropdown_id_' + file[row].dropdown_id" style="flex: 1;">
                            <nb-option disabled [value]="item.id" *ngFor="let item of getDropdownDetailById(file[row].dropdown_id)"> {{ item.name }}</nb-option>
                        </nb-select>
                    </div>
                    <div *ngIf="row === 'file_file_name'" style="display: flex; flex-direction: column; flex: 1; width: 100%;">
                        <div
                            *ngFor="let item of file[row]"
                            style="margin-top: 1.5rem; display: flex; flex-direction: column; flex: 1; width: 100%; margin-bottom: 1.5rem;"
                        >
                            <input nbInput [value]="item.file_title" readonly fullWidth />

                            <button
                                (click)="openFileName(item.file_name)"
                                style="
                                    flex: 1;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    width: 100%;
                                    margin-top: 0.5rem;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                "
                                nbButton
                                status="warning"
                            >
                                {{ item.file_name !== '' ? item.file_name : ('app.button_browse' | translate) }}
                            </button>
                        </div>
                    </div>

                    <nb-select
                        *ngIf="row === 'file_authorized_users' && row !== 'file_file_name'"
                        style="max-width: 100%; width: 100%;"
                        multiple
                        [placeholder]="'office_manage_file.none_select_authorized_users' | translate"
                        [(selected)]="file[row]"
                    >
                        <nb-option disabled [value]="item.user_id" *ngFor="let item of userList">{{ item.fullname }} </nb-option>
                    </nb-select>
                    <nb-toggle *ngIf="row === 'file_is_deleted'" disabled [checked]="file[row]"></nb-toggle>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>

    <nb-card-body *ngIf="isEditing || isCreating">
        <nb-list [formGroup]="fileFormGroup">
            <nb-list-item *ngFor="let row of rows" [ngStyle]="{ display: !displayRow(row) ? 'none' : 'flex' }">
                <div class="div-data-left label">
                    {{ createRealColumns(row) }}
                </div>

                <div style="display: flex; width: 1rem;"></div>

                <div class="div-data-right">
                    <input *ngIf="checkCondition(row)" nbInput fullWidth [value]="file[row]" autofocus [formControlName]="row" />
                    <div *ngIf="file[row] && file[row].property_data_type && file[row] && !file[row].dropdown_id" style="display: flex; flex: 1; ">
                        <input
                            *ngIf="file[row] && file[row].property_data_type === 'text'"
                            nbInput
                            fullWidth
                            [value]="file[row].property_value"
                            autofocus
                            [formControlName]="row + '_property_value'"
                        />
                        <textarea
                            *ngIf="file[row] && file[row].property_data_type === 'textarea'"
                            nbInput
                            fullWidth
                            [value]="file[row].property_value"
                            autofocus
                            [formControlName]="row + '_property_value'"
                        ></textarea>
                    </div>

                    <div style="flex: 1; display: flex; justify-content: flex-start; align-items: center;" *ngIf="file[row] && file[row].dropdown_id">
                        <!-- <input nbInput fullWidth [value]="file[row].property_value" autofocus [formControlName]="row" /> -->
                        <nb-select multiple placeholder="Choose some" [formControlName]="row + '_dropdown_id_' + file[row].dropdown_id" style="flex: 1;">
                            <nb-option [value]="item.id" *ngFor="let item of getDropdownDetailById(file[row].dropdown_id)"> {{ item.name }}</nb-option>
                        </nb-select>
                    </div>
                    <div *ngIf="row === 'file_file_name'" style="display: flex; flex-direction: column; flex: 1; width: 100%; margin-bottom: 1.5rem;">
                        <div *ngFor="let item of file[row]" style="margin-top: 1.5rem; display: flex; flex-direction: column; flex: 1; width: 100%;">
                            <input nbInput [value]="item.file_title" [formControlName]="'file_title_' + item.id" fullWidth />

                            <ngx-file-drop
                                dropZoneLabel="Drop csv files here"
                                (onFileDrop)="droppedFile($event, item.id)"
                                (onFileOver)="fileOver($event)"
                                (onFileLeave)="fileLeave($event)"
                                style="margin-top: 0.5rem;"
                            >
                                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                    <button
                                        (click)="uploadFileName(item.id)"
                                        style="
                                            flex: 1;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow: hidden;
                                            width: 100%;
                                            display: flex;
                                            justify-content: flex-start;
                                            align-items: flex-start;
                                        "
                                        nbButton
                                        status="warning"
                                    >
                                        {{ item.file_name !== '' ? item.file_name : ('app.button_browse' | translate) }}
                                    </button>
                                </ng-template>
                            </ngx-file-drop>
                        </div>
                    </div>
                    <!-- </div> -->

                    <nb-select
                        *ngIf="row === 'file_authorized_users'"
                        style="max-width: 100%; width: 100%;"
                        multiple
                        [placeholder]="'office_manage_file.select_authorized_users' | translate"
                        [formControlName]="row"
                    >
                        <nb-option [disabled]="isReadOnly" [value]="item.user_id" *ngFor="let item of userList"> {{ item.fullname }}</nb-option>
                    </nb-select>

                    <nb-toggle *ngIf="row === 'file_is_deleted'" disabled [checked]="file[row]"></nb-toggle>
                </div>
            </nb-list-item>
        </nb-list>
    </nb-card-body>

    <nb-card-footer style="display: flex; justify-content: space-evenly;" *ngIf="isEditable">
        <button *ngIf="!isEditing" style="flex: 0.35" nbButton status="danger" (click)="deleteFile()">
            {{ (data.file_is_deleted ? 'app.button_un_delete' : 'app.button_delete') | translate }}
        </button>
        <button *ngIf="!isEditing" style="flex: 0.35" nbButton status="info" (click)="editFile()">{{ 'app.button_edit' | translate }}</button>
        <button *ngIf="isEditing" style="flex: 0.3" nbButton status="info" (click)="saveFile()">{{ 'app.button_save' | translate }}</button>
    </nb-card-footer>

    <nb-card-footer style="display: flex; justify-content: space-evenly;" *ngIf="isRestrictedEditable">
        <button *ngIf="!isEditing" style="flex: 0.35" nbButton status="info" (click)="editFile()">{{ 'app.button_edit' | translate }}</button>
        <button *ngIf="isEditing" style="flex: 0.3" nbButton status="info" (click)="saveFile()">{{ 'app.button_save' | translate }}</button>
    </nb-card-footer>

    <form [formGroup]="createFileFormGroup" (ngSubmit)="createFile()">
        <nb-card-footer style="display: flex; justify-content: space-evenly;" *ngIf="isCreating">
            <!-- <button style="flex: 0.3" nbButton status="success" (click)="createFile()">Create</button> -->
            <button style="flex: 0.3" nbButton status="success">{{ 'app.button_create' | translate }}</button>
        </nb-card-footer>
        <input #editFileFakeInput type="file" name="fileUpload" style="display: none;" (change)="handleFileInput($event)" />
    </form>
</nb-card>
